In [53]:
import pandas as pd
import numpy as np

# df = pd.DataFrame({'countries': ['US', 'UK', 'Germany', np.nan, 'China']})

df1 = pd.DataFrame({'countries': ['US', 'UK', 'Germany', np.nan, 'China', 'ID'],
                   'tagg': ['tag1', 'tag2', 'tag3', 'tag4', 'tag5', 'tag6']})
# df2 = pd.DataFrame({'countries': ['US', 'UK', 'Germany', np.nan, 'China'],
#                    'tagg': ['tag1', 'tag2', 'tag3', 'tag4', 'tag5']})
df2 = pd.DataFrame({'countries': ['US', 'UK', 'Germany', np.nan, 'China']})
# df
#   countries
# 0        US
# 1        UK
# 2   Germany
# 3     China

c1 = ['UK', 'China']             # list
c5 = ['US', 'UK', 'Germany', np.nan, 'China']             # list
c2 = {'Germany'}                 # set
c3 = pd.Series(['China', 'US'])  # Series
c4 = np.array(['US', 'UK'])      # array

In [32]:
df

  countries  tagg
0        US  tag1
1        UK  tag2
2   Germany  tag3
3       NaN  tag4
4     China  tag5

In [33]:
df['countries'].isin(c1)

0    False
1     True
2    False
3    False
4     True
Name: countries, dtype: bool

In [34]:
# `in` operation
df[df['countries'].isin(c1)]

  countries  tagg
1        UK  tag2
4     China  tag5

In [35]:
# `not in` operation
df1[~df1['countries'].isin(c1)]

  countries  tagg
0        US  tag1
2   Germany  tag3
3       NaN  tag4

In [55]:
not_in_both = df1[~df1.apply(lambda row: (row['countries']) in zip(df2['countries']), axis=1)]

print(not_in_both)

  countries  tagg
0        US  tag1
1        UK  tag2
2   Germany  tag3
3       NaN  tag4
4     China  tag5
5        ID  tag6

In [37]:
df1[~df1['countries'].isin(df2['countries'])]

Empty DataFrame
Columns: [countries, tagg]
Index: []